.pro_pic{
    opacity: 1;
  display: block;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.pro_pic_update_btn{
    transition: .5s ease;
  opacity: 0;
  position: absolute; 
  top: 50%; 
  border-radius: 0px 0px 0px 0px;
  width: 87%;  
  display: "flex";
  justify-content: "center";
  align-items: "flex-end";
  transform: translate(0%, 0%);
  -ms-transform: translate(0%, 0%);
  text-align: center;
  cursor: pointer;
}

.pro_pic_container:hover .pro_pic {
    opacity: 0.4;
  }
  
  .pro_pic_container:hover .pro_pic_update_btn {
    opacity: 1;
  }